{% extends "layout22.html" %}
{% block body %}
        <div id="div2">
            <form action="/login" method="post">
                <h1>Signup</h1>
                <div id="div3">
                    <input type="text" placeholder="name" name="name">
                    <input type="text" placeholder="email" name="email">
                    <input type="text" placeholder="password" name="password">
                </div>
                <button>submit</button>
                <p>already have account?<a href="/login">login</a></p>
            </form>
        </div>
     {% endblock %}  
