.table{
    border-spacing: 0;
    margin: 1rem;
    background-color: #f5f5f5;
    width: 90%;
}
.table__row:nth-child(even){
    background-color: #e5e5e5;
}
.table__header{
    text-align: left;
}
.table__cell{
    padding: 8px;
}
#orderhisb{
    width: 100%;
    padding-right: 41px;
    padding-left: 41px;
}
#Home{
    width: 100%;
    padding-right: 47px;
    padding-left: 48px;
}
#logout{
    width: 100%;
    padding-right: 47px;
    padding-left: 48px;
    color: red;
}
.logout {
    color: red;
}